body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "left-sidebar"
    "footer";
}

body > * {
  padding: 1rem;
}

header {
  grid-area: header;
  background: #f97171;
}

main {
  grid-area: main;
  background: #fff;
}

aside {
  grid-area: left-sidebar;
  background: #c5ed77;
}

footer {
  grid-area: footer;
  background: #72c2f1;
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "left-sidebar main main"
      "footer footer footer";
  }
}
